doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title='PuppApp Reset Password'
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css",
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh",
            crossorigin="anonymous",
            rel="stylesheet")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body
        block content
            .main.container
                .row
                    .col-md-6.col-md-offset-3
                        h1.display-7.my-2 Reset Password

                        form.needs-validation(method='POST' action='/auth/reset-password' novalidate)
                            div.form-group
                                label(for='pw') New Password:
                                input#pw.form-control(type='password' name='password' required pattern=".{8,}")
                            div.form-group
                                label(for='pw2') Confirm Password:
                                input#pw2.form-control(type='password' name='confirmPassword' required pattern=".{8,}")
                            input.form-control(type="hidden", name="token", value=token)

                            button.btn.btn-primary(type='submit') Reset

        script.
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
